@media screen and (max-width: 1300px)
   .header__main
      max-width: 45%
   .header__block
      bottom: -5px
      left: 294px
      font-size: 29px
      width: 251px
   .ser__left, .ser__right
      max-width: 256px
   .how__item div:nth-child(2)
      height: auto
      min-height: 390px
   .calc__item:nth-child(1), .calc__item:nth-child(5)
      max-width: 280px
   .container
      max-width: 1200px
@media screen and (max-width: 1199px)
   .container
      max-width: 1200px
   .open__menu 
      width: 965px
      margin-left: -480px
   h1 
      font-size: 52px
   .header__right
      max-width: 270px
      p 
         font-size: 24px
   .header__center div:nth-child(1) p
      font-size: 26px
   .header__center
      max-width: 264px
   .header__block 
      bottom: -8px
      left: 214px
      font-size: 23px
      width: 138px
      padding-left: 0
   .header__center div:nth-child(2) a 
      right: 19px
      bottom: 14px
   .header__center div:nth-child(1) img
      height: 130px
   .about__item
      width: 48.5%
      margin-bottom: 25px
   .about__box
      flex-wrap: wrap
   .ser__bottom
      flex-wrap: wrap 
      order: 4
      div 
         width: 100%
         margin-bottom: 15px
   .ser__center
      max-width: 100%
      order: 3
      margin: 15px 0 0
      div 
         margin-bottom: 15px
         max-width: 49%
         width: 100%
   .ser__left
      order: 1
      max-width: 49%
   .ser__right
      order: 2
      max-width: 49%
   .info__box
      flex-direction: column
   .info__box img 
      width: 100%
      height: 400px
      border-radius: 20px
      margin-right: 0
      margin-bottom: 20px
   .how__box
      flex-wrap: wrap
   .how__item
      width: 49%
      margin-bottom: 15px
   .calc__row
      flex-wrap: wrap
   .calc__item
      max-width: 48% !important
      margin-bottom: 15px  
   .calc__area .checkbox
      max-width: 217px
   .calc__item label br 
      display: none
   .calc__item:nth-child(2)
      z-index: 7
   .faq .accordeon .accordeon__item > div
      font-size: 26px
   .local__content
      flex-wrap: wrap
   .local__item 
      width: 36%
      margin: 0 auto 10px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .nav 
      position: relative
      z-index: 200
   .nav__bot
      display: none
   .menu-btn 
      width: 20px
      height: 24px
      position: absolute
      right: 34px
      top: 44px
      z-index: 11
      overflow: hidden
   .menu-btn span 
      width: 20px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $lightblue
      border-radius: 1px
      transition: all 0.5s
      margin-left: 0px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 7.5px)
      width: 20px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 8px)
      width: 24px
      height: 2px
      margin-left: 0px
   .menu 
      position: fixed
      top: 0
      right: 0
      width: 100%
      height: 100%
      padding: 100px 40px 40px
      background: white
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 7
      overflow: hidden
      -webkit-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      -moz-box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      box-shadow: -11px 0px 28px -12px rgba(0,0,0,0.75)
      ul 
         li 
            margin-bottom: 15px
            a 
               color: rgb(43, 43, 43)
               font-size: 15px
               font-weight: 400
               line-height: 120%
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 34px
      top: 44px
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .nav__box ul
      display: none
   .header__box
      margin-top: 50px
   h1 
      font-size: 36px
   .header__row
      flex-wrap: wrap 
      height: auto
      margin-top: 30px
   .header__main
      max-width: 100%
   .header__center 
      max-width: 57%
      margin-left: 0
      margin-top: 15px
   .header__right 
      max-width: 278px
      margin-top: 15px
      margin-left: 0
      img 
         height: 226px
   .header__block 
      bottom: inherit
      left: inherit
      font-size: 29px
      width: 230px
      padding-left: 0
      top: 365px
      right: 31px
   .header__center div:nth-child(2) p
      font-size: 16px
   .about__item p
      font-size: 16px
   .ser__left, .ser__right
      height: 400px
   h2 
      font-size: 28px
   .sub
      font-size: 13px
   .info__box img
      height: 300px
   .info__content h3
      font-size: 22px
   .info__content p
      font-size: 16px
   .how__item div:nth-child(2) ul li
      font-size: 16px
   .calc__area .checkbox 
      max-width: 161px
   .calc__area label
      font-size: 13px
   .calc__info
      flex-direction: column 
      margin-top: 40px
      align-items: flex-start
   .calc__btn
      margin: 20px 0 0 auto
   .blog__top h3
      font-size: 22px
   .blog__top span
      font-size: 13px
   .blog .swiper1 .swiper-slide p
      font-size: 14px
   .blog .swiper1 .swiper-slide a
      font-size: 13px
   .faq .accordeon .accordeon__item
      padding-bottom: 20px
      margin-bottom: 30px
   .faq .accordeon .accordeon__item > div 
      font-size: 24px
      padding-right: 67px
   .faq .accordeon .accordeon__item > div:after
      background-size: 20px !important
      width: 20px
   .faq .accordeon .accordeon__item > div.active:after
      background-size: 30px !important
      height: 11px
   .faq__info
      font-size: 15px
   .local__area p
      font-size: 15px
   .fig
      margin-top: 0
   .footer__item
      &:nth-child(2)
         display: none
@media screen and (max-width: 767px)
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important